.messages {
  min-height: 519px;
  padding: 10px 30px 20px 30px;
}

.message{
  display: flex;
  gap: 20px;
  padding-top: 20px;
  word-break: break-all;
}


.message-style {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.current-user{
  flex-direction: row-reverse;
}
  
.message-img{
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.message-author{
  font-size: 16px;
}

.message-text{
  background-color: #1E1E1E;
  max-width: 60%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 0px 10px 10px 10px;
  color: #27B760;
}

.current-user-msg-style{
  align-items: flex-end;
}

.current-user-message-pop{
  border-radius: 10px 0px 10px 10px;
  background-color: #1a7e42;
  color: white;
  word-break: break-all;
}

